#offer{
    min-height: 20vh;  
}
.offer__wrapper--item1 img {
    width: 40rem;
    height: 45rem;
}
.offer__box{
    /* background-color: var(--light-color); */
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
    margin: 2rem 12rem;
    padding: 2rem;
    transition: all 0.5s ease-in-out;
    
}
.offer__box h4{
    color: var(--primary-color);
}
.offer__box:hover{
    transform: translateX(3rem);
    

}

.offer__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.offer__h{
    padding-top: 2rem;
       font-size: 3rem;
       position: relative;
       left: 40%;
       display: inline-block;
}
.offer__wrapper--item2 i{
    color: var(--primary-color);
    padding: 1rem;
}
.offer__wrapper p{
    color: var(--secondary-color);
}