#Feuture__web{
    
    min-height: 30vh;
    background-color: var(--light-color);
}
.Feuture__web--item1 img{
    margin-top: 1.5rem;
    width: 75rem;
    height: 65rem;

}
.Feuture__web--item2 h2{
    font-size: 3rem;
    font-weight: 700;
    color: var(--dark-color);
    line-height: 8rem;
}

.Feuture__web--item2 p{
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.Feuture__web--item2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.027), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
    margin: 0 3rem;
    padding: 3rem;
    background-color:white;
    border-radius: 1.5rem;

}

.feuture__web--wrapper{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.feuture__text {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.feuture__text--left{
    margin-right: 3rem;
}

.feuture__text i{
    color: var(--primary-color);
    margin-bottom: 2rem;
}